In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('/content/new_churn.csv')
df.head()

   Unnamed: 0  SeniorCitizen  ...  tenure_group_49 - 60  tenure_group_61 - 72
0           0              0  ...                     0                     0
1           1              0  ...                     0                     0
2           2              0  ...                     0                     0
3           3              0  ...                     0                     0
4           4              0  ...                     0                     0

[5 rows x 52 columns]

In [3]:
df=df.drop('Unnamed: 0',axis=1)

In [4]:
df.head()

   SeniorCitizen  MonthlyCharges  ...  tenure_group_49 - 60  tenure_group_61 - 72
0              0           29.85  ...                     0                     0
1              0           56.95  ...                     0                     0
2              0           53.85  ...                     0                     0
3              0           42.30  ...                     0                     0
4              0           70.70  ...                     0                     0

[5 rows x 51 columns]

In [5]:
x=df.drop('Churn',axis=1)
x

      SeniorCitizen  MonthlyCharges  ...  tenure_group_49 - 60  tenure_group_61 - 72
0                 0           29.85  ...                     0                     0
1                 0           56.95  ...                     0                     0
2                 0           53.85  ...                     0                     0
3                 0           42.30  ...                     0                     0
4                 0           70.70  ...                     0                     0
...             ...             ...  ...                   ...                   ...
7027              0           84.80  ...                     0                     0
7028              0          103.20  ...                     0                     1
7029              0           29.60  ...                     0                     0
7030              1           74.40  ...                     0                     0
7031              0          105.65  ...                     0                     1

[7032 rows x 50 columns]

In [6]:
y=df['Churn']
y

0       0
1       0
2       1
3       0
4       1
       ..
7027    0
7028    0
7029    0
7030    1
7031    0
Name: Churn, Length: 7032, dtype: int64

In [8]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [18]:
from sklearn.ensemble import RandomForestClassifier
algo=RandomForestClassifier()

In [19]:
algo.fit(x_train,y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [20]:
y_pred=algo.predict(x_test)

In [21]:
from sklearn import metrics

In [22]:
from sklearn.metrics import classification_report
print(classification_report(y_test, y_pred, labels=[0,1]))

              precision    recall  f1-score   support

           0       0.82      0.90      0.86      1033
           1       0.61      0.44      0.51       374

    accuracy                           0.78      1407
   macro avg       0.71      0.67      0.68      1407
weighted avg       0.76      0.78      0.76      1407

In [23]:
print(metrics.confusion_matrix(y_test, y_pred))

[[928 105]
 [209 165]]

### As you can see that the accuracy is quite low, and as it's an imbalanced dataset, we shouldn't consider Accuracy as our metrics to measure the model, as Accuracy is cursed in imbalanced datasets.
Hence, we need to check recall, precision & f1 score for the minority class, and it's quite evident that the precision, recall & f1 score is too low for Class 1, i.e. churned customers.
Hence, moving ahead to call SMOTEENN (UpSampling + ENN) ###

In [27]:
from imblearn.combine import SMOTEENN

In [26]:
import imblearn

In [ ]:
sm = SMOTEENN()
X_resampled1, y_resampled1 = sm.fit_sample(x,y)

In [29]:
xr_train1,xr_test1,yr_train1,yr_test1=train_test_split(X_resampled1, y_resampled1,test_size=0.2)

In [30]:
model_rf_smote=RandomForestClassifier(n_estimators=100, criterion='gini', random_state = 100,max_depth=6, min_samples_leaf=8)

In [31]:
model_rf_smote.fit(xr_train1,yr_train1)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=6, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=8, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=100,
                       verbose=0, warm_start=False)

In [32]:
yr_predict1 = model_rf_smote.predict(xr_test1)

In [33]:
model_score_r1 = model_rf_smote.score(xr_test1, yr_test1)

In [34]:
print(model_score_r1)
print(metrics.classification_report(yr_test1, yr_predict1))

0.9416737109044802
              precision    recall  f1-score   support

           0       0.94      0.92      0.93       533
           1       0.94      0.96      0.95       650

    accuracy                           0.94      1183
   macro avg       0.94      0.94      0.94      1183
weighted avg       0.94      0.94      0.94      1183

In [35]:
print(metrics.confusion_matrix(yr_test1, yr_predict1))

[[493  40]
 [ 29 621]]